.esqcima {
	position:fixed;
	width:300px;
	height:150px;
	top:5px;
	left:5px;
	background-color:#ff0000;
}

.esqbaixo {
	position:fixed;
	width:300px;
	height:150px;
	top:635px;
	left:5px;
	background-color:#00ff00;
}

.dircima {
	position:fixed;
	width:300px;
	height:150px;
	top:5px;
	left:1135px;
	background-color:#0000ff;
}

.dirbaixo {
	position:fixed;
	width:300px;
	height:150px;
	top:635px;
	left:1135px;
	background-color:#f0f000;
}